* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common design section  */
.btn-primary{
    background-color: rgb(220, 53, 69);
    padding: 15px 25px;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}
/* .featured-card{
    max-width: 400px;
    padding-top: 150px;
    border: 2px solid red;
} */
.btn-primary:hover{
    background-color:rgb(231, 35, 55) ;
    transform: scale(1.2);
}

/* headeer section style  */
.hero-section {
    width: 100%;
    background-color: rgb(252, 239, 241);
}

.header-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    gap: 100px;
    align-items: center;
    justify-content:space-between;
}
.header-text-box h1{
    font-size: 3.20rem;
    font-family:Arial, Helvetica, sans-serif;
}
.header-text-box p{
    padding: 20px 0;
    font-size: 16px;
    color: gray;
}
.header-image img{
    padding-top: 50px;
    width: 100%;
}
/* featured section style  */
.featured-section{
    max-width: 1440px;
    margin: 100px auto ;
    text-align: center;
}
.featured-section h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.25rem;
    padding: 25px 0;
}
.featured-section p{
    color: grey;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
.featured-card-box{
    width: 1200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 100px auto;
    gap: 20px;
}
.car-image1,
.car-image2,
.car-image3{
    background-color: rgb(252, 239, 241);
    height: 400px;
    width: 350px;
    border-radius:50% 50% 0 0 ;
}
.car-image2{
    background-color:rgba(151, 226, 226, 0.452);
}
.car-image3{
    background-color:rgba(139, 160, 103, 0.507) ;
}
.car-image1 img,
.car-image2 img,
.car-image3 img{
    height: 100%;
    padding-top: 150px;
}
.featured-card-link{ 
    max-width: 1200px;
    margin: -80px 250px 0 250px;
    display: flex;
    gap: 270px;
}
.featured-card-link a{
    font-size: 16px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    color: black
}
